/* https://www.w3schools.com/css/css3_variables.asp#:~:text=Global%20variables%20can%20be%20accessed,matches%20the%20document's%20root%20element. */
:root {
  --base-color: #34c94b;
  --black: #121212;
  --white:#ffffff;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html,body{
  height:100%;
}

body{
  font-family: "Poppins","sans-serif";
  line-height: 1.5;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
}
img,
svg {
  display: block;
  max-width: 100%;
}
.swiper-slide {
  width: auto !important;
}